.container1{
    max-width: 1000px;
    
    
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding:20px 200px;
  }
  .container1 .box{
    width: calc(33% - 10px);
    background: rgb(219, 225, 252);
    box-shadow: 6px 6px 6px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30x 50px;
    border-radius: 5px;
    
    
    
    margin: 2px;
    
  }
  .box .quote i{
  margin-top: 10px;
  font-size: 45px;
  color: #17c0eb
  }
  .container1 .box .image{
    margin: 10px 0;
    height: 150px;
    width: 150px;
    background: teal;
    padding: 3px;
    border-radius: 50%;
  }
  .box .image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
  }
  .box p{
    
    text-align: center;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
  }
  .box .name_job{
    margin: 10px 0 3px 0;
    color: rgb(57, 57, 105);
    font-size: 18px;
    font-weight: 600;
  }
  
  .btns{
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .btns button{
    background: teal;
    width: 100%;
    padding: 9px 0px;
    outline: none;
    border: 2px solid teal;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    color: teal;
    transition: all 0.3s linear;
  }
  .btns button:first-child{
    background: none;
    margin-right: 5px;
  }
  .btns button:last-child{
    color: #fff;
    margin-left: 5px;
  }
  .btns button:first-child:hover{
    background: teal;
    color: #fff;
  }
  .btns button:hover{
    color: #fff;
  }
 